@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #2e3a5b;
  --color-muted-foreground: #58617c;
  --color-subtle-foreground: #777f94;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;
  --color-muted: #f5f5f5;
  --color-accent: #f5f5f5;
  --color-accent-foreground: #171717;
  --color-primary: #f37320;
  --color-primary-foreground: #fafafa;
  --color-secondary: #213f99;
  --color-secondary-foreground: #fafafa;
  --color-destructive: #e7000b;
  --color-destructive-foreground: #e7000b;
  --color-success: #39cc7e;
  --color-success-foreground: #ffffff;
  --color-error: #ff6262;
  --color-error-foreground: #ffffff;
  --color-warning: #ff9d57;
  --color-warning-foreground: #ffffff;
  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: #a1a1a1;
  --color-chart-1: #f54a00;
  --color-chart-2: #009689;
  --color-chart-3: #104e64;
  --color-chart-4: #ffba00;
  --color-chart-5: #fd9a00;
  --color-radius: 0.625rem;
  --color-sidebar: #f1f5f9;
  --color-sidebar-foreground: #2e3a5b;
  --color-sidebar-primary: #171717;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #f5f5f5;
  --color-sidebar-accent-foreground: #171717;
  --color-sidebar-border: #e5e5e5;
  --color-sidebar-ring: #a1a1a1;

  --color-primaryA-900: #002b50;
  --color-primaryA-800: #00447e;
  --color-primaryA-700: #0056a0;
  --color-primaryA-600: #0069c3;
  --color-primaryA-500: #007be5;
  --color-primaryA-400: #3395ea;
  --color-primaryA-300: #b2d7f7;
  --color-primaryA-200: #e5f2fc;
  --color-primaryA-100: #f2fbfe;

  --color-ink1000: #121742;
  --color-ink900: #1c2337;
  --color-ink800: #2e3a5b;
  --color-ink700: #58617c;
  --color-ink600: #777f94;
  --color-ink500: #a1a6b5;
  --color-ink400: #c0c4ce;
  --color-ink300: #eaebef;
  --color-ink200: #f5f5f7;
  --color-ink100: #fbfbfc;

  --color-blackOpacity1000: rgba(0, 0, 0, 1);
  --color-blackOpacity980: rgba(0, 0, 0, 0.9);
  --color-blackOpacity900: rgba(0, 0, 0, 0.8);
  --color-blackOpacity800: rgba(0, 0, 0, 0.7);
  --color-blackOpacity700: rgba(0, 0, 0, 0.6);
  --color-blackOpacity600: rgba(0, 0, 0, 0.5);
  --color-blackOpacity500: rgba(0, 0, 0, 0.4);
  --color-blackOpacity400: rgba(0, 0, 0, 0.3);
  --color-blackOpacity300: rgba(0, 0, 0, 0.2);
  --color-blackOpacity200: rgba(0, 0, 0, 0.1);
  --color-blackOpacity100: rgba(0, 0, 0, 0.05);

  --color-whiteOpacity100: #f5f9fd;
}

:root.dark {
  --color-background: #303841;
  --color-foreground: #94a0ad;
  --color-muted-foreground: #eaebef;
  --color-subtle-foreground: #f5f5f7;
  --color-card: #36404a;
  --color-card-foreground: #94a0ad;
  --color-popover: #0a0a0a;
  --color-popover-foreground: #fafafa;
  --color-muted: #262626;
  --color-accent: #262626;
  --color-accent-foreground: #fafafa;
  --color-primary: #f37320;
  --color-primary-foreground: #fafafa;
  --color-secondary: #213f99;
  --color-secondary-foreground: #fafafa;
  --color-destructive: #82181a;
  --color-destructive-foreground: #fb2c36;
  --color-success: #39cc7e;
  --color-success-foreground: #ffffff;
  --color-error: #ff6262;
  --color-error-foreground: #ffffff;
  --color-warning: #ff9d57;
  --color-warning-foreground: #ffffff;
  --color-border: #262626;
  --color-input: #262626;
  --color-ring: #737373;
  --color-chart-1: #1447e6;
  --color-chart-2: #00bc7d;
  --color-chart-3: #fd9a00;
  --color-chart-4: #ad46ff;
  --color-chart-5: #ff2056;
  --color-radius: 0.625rem;
  --color-sidebar: #37424c;
  --color-sidebar-foreground: #94a0ad;
  --color-sidebar-primary: #1447e6;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #262626;
  --color-sidebar-accent-foreground: #fafafa;
  --color-sidebar-border: #262626;
  --color-sidebar-ring: #525252;

  --color-ink800: #fbfbfc;
  --color-whiteOpacity100: #303841;
  --color-blackOpacity100: rgba(255, 255, 255, 0.05);
}

body {
  color: var(--color-muted-foreground);
}

/* Disable pointer events on nodes/edges when in pan mode */
.pan-mode-active .react-flow__node {
  pointer-events: none !important;
  user-select: none !important;
}

.pan-mode-active .react-flow__edges {
  pointer-events: none !important;
  user-select: none !important;
}

.react-flow__minimap {
  /* background-color: var(--color-background); */
}

.react-flow__minimap-mask {
  fill-opacity: 0.3;
}

.react-flow__handle:not(.connectionindicator):not(.connectingfrom)
  > .indicator-glow {
  box-shadow: none;
  background-color: var(--color-border);
}

.indicator-glow {
  box-shadow: 0 0 0 3px hsl(from var(--color-primary) h s l / 0.2);
  transition-duration: 300ms;
}

.indicator-glow:hover {
  animation: pulse1 1s infinite;
  box-shadow:
    rgb(228, 228, 231) 0px 0px 0px 3px,
    hsl(from var(--color-primary) h s l) 0px 0px 3.94151px 0px,
    hsl(from var(--color-primary) h s l) 0px 0px 7.88302px 0px,
    hsl(from var(--color-primary) h s l) 0px 0px 11.8245px 0px,
    hsl(from var(--color-primary) h s l) 0px 0px 15.766px 0px,
    hsl(from var(--color-primary) h s l) 0px 0px 19.7075px 0px,
    hsl(from var(--color-primary) h s l) 0px 0px 24.7075px 0px,
    hsl(from var(--color-primary) h s l) 0px 0px 29.7075px 0px;
}

.react-flow__panel.react-flow__attribution {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}

@keyframes pulse1 {
  0% {
    box-shadow:
      rgb(228, 228, 231) 0px 0px 0px 3px,
      hsl(from var(--color-primary) h s l) 0px 0px 3px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 5px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 8px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 10px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 14px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 20px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 25px 0px;
  }

  50% {
    box-shadow:
      rgb(228, 228, 231) 0px 0px 0px 3px,
      hsl(from var(--color-primary) h s l) 0px 0px 4px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 8px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 12px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 16px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 19px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 25px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 29px 0px;
  }

  100% {
    box-shadow:
      rgb(228, 228, 231) 0px 0px 0px 3px,
      hsl(from var(--color-primary) h s l) 0px 0px 3px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 5px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 8px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 10px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 14px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 20px 0px,
      hsl(from var(--color-primary) h s l) 0px 0px 25px 0px;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-muted-foreground);
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
