@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #2e3a5b;
    --muted-foreground: #58617c;
    --subtle-foreground: #777f94;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --muted: #f5f5f5;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --primary: #f37320;
    --primary-foreground: #fafafa;
    --secondary: #213f99;
    --secondary-foreground: #fafafa;
    --destructive: #e7000b;
    --destructive-foreground: #e7000b;
    --success: #39CC7E;
    --success-foreground: #FFFFFF;
    --error: #FF6262;
    --error-foreground: #FFFFFF;
    --warning: #FF9D57;
    --warning-foreground: #FFFFFF;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a1a1a1;
    --chart-1: #f54a00;
    --chart-2: #009689;
    --chart-3: #104e64;
    --chart-4: #ffba00;
    --chart-5: #fd9a00;
    --radius: 0.625rem;
    --sidebar: #f1f5f9;
    --sidebar-foreground: #2e3a5b;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a1a1a1;
}

.dark {
    --background: #303841;
    --foreground: #94a0ad;
    --muted-foreground: #eaebef;
    --subtle-foreground: #f5f5f7;
    --card: #36404a;
    --card-foreground: #94a0ad;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --muted: #262626;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --primary: #f37320;
    --primary-foreground: #fafafa;
    --secondary: #213f99;
    --secondary-foreground: #fafafa;
    --destructive: #82181a;
    --destructive-foreground: #fb2c36;
    --success: #39CC7E;
    --success-foreground: #FFFFFF;
    --error: #FF6262;
    --error-foreground: #FFFFFF;
    --warning: #FF9D57;
    --warning-foreground: #FFFFFF;
    --border: #262626;
    --input: #262626;
    --ring: #737373;
    --chart-1: #1447e6;
    --chart-2: #00bc7d;
    --chart-3: #fd9a00;
    --chart-4: #ad46ff;
    --chart-5: #ff2056;
    --radius: 0.625rem;
    --sidebar: #37424c;
    --sidebar-foreground: #94a0ad;
    --sidebar-primary: #1447e6;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-border: #262626;
    --sidebar-ring: #525252;
}