@import 'tailwindcss';

@theme {
    --color-background: #ffffff;
    --color-foreground: #2e3a5b;
    --color-muted-foreground: #58617c;
    --color-subtle-foreground: #777f94;
    --color-card: #ffffff;
    --color-card-foreground: #0a0a0a;
    --color-popover: #ffffff;
    --color-popover-foreground: #0a0a0a;
    --color-muted: #f5f5f5;
    --color-accent: #f5f5f5;
    --color-accent-foreground: #171717;
    --color-primary: #f37320;
    --color-primary-foreground: #fafafa;
    --color-secondary: #213f99;
    --color-secondary-foreground: #fafafa;
    --color-destructive: #e7000b;
    --color-destructive-foreground: #e7000b;
    --color-success: #39CC7E;
    --color-success-foreground: #FFFFFF;
    --color-error: #FF6262;
    --color-error-foreground: #FFFFFF;
    --color-warning: #FF9D57;
    --color-warning-foreground: #FFFFFF;
    --color-border: #e5e5e5;
    --color-input: #e5e5e5;
    --color-ring: #a1a1a1;
    --color-chart-1: #f54a00;
    --color-chart-2: #009689;
    --color-chart-3: #104e64;
    --color-chart-4: #ffba00;
    --color-chart-5: #fd9a00;
    --color-radius: 0.625rem;
    --color-sidebar: #f1f5f9;
    --color-sidebar-foreground: #2e3a5b;
    --color-sidebar-primary: #171717;
    --color-sidebar-primary-foreground: #fafafa;
    --color-sidebar-accent: #f5f5f5;
    --color-sidebar-accent-foreground: #171717;
    --color-sidebar-border: #e5e5e5;
    --color-sidebar-ring: #a1a1a1;

    --color-ink1000: #121742;
    --color-ink900: #1c2337;
    --color-ink800: #2e3a5b;
    --color-ink700: #58617c;
    --color-ink600: #777f94;
    --color-ink500: #a1a6b5;
    --color-ink400: #c0c4ce;
    --color-ink300: #eaebef;
    --color-ink200: #f5f5f7;
    --color-ink100: #fbfbfc;

    --color-blackOpacity1000: rgba(0, 0, 0, 1);
    --color-blackOpacity980: rgba(0, 0, 0, 0.9);
    --color-blackOpacity900: rgba(0, 0, 0, 0.8);
    --color-blackOpacity800: rgba(0, 0, 0, 0.7);
    --color-blackOpacity700: rgba(0, 0, 0, 0.6);
    --color-blackOpacity600: rgba(0, 0, 0, 0.5);
    --color-blackOpacity500: rgba(0, 0, 0, 0.4);
    --color-blackOpacity400: rgba(0, 0, 0, 0.3);
    --color-blackOpacity300: rgba(0, 0, 0, 0.2);
    --color-blackOpacity200: rgba(0, 0, 0, 0.1);
    --color-blackOpacity100: rgba(0, 0, 0, 0.05);

    --color-whiteOpacity100: #F5F9FD;
}

:root.dark {
    --color-background: #303841;
    --color-foreground: #94a0ad;
    --color-muted-foreground: #eaebef;
    --color-subtle-foreground: #f5f5f7;
    --color-card: #36404a;
    --color-card-foreground: #94a0ad;
    --color-popover: #0a0a0a;
    --color-popover-foreground: #fafafa;
    --color-muted: #262626;
    --color-accent: #262626;
    --color-accent-foreground: #fafafa;
    --color-primary: #f37320;
    --color-primary-foreground: #fafafa;
    --color-secondary: #213f99;
    --color-secondary-foreground: #fafafa;
    --color-destructive: #82181a;
    --color-destructive-foreground: #fb2c36;
    --color-success: #39CC7E;
    --color-success-foreground: #FFFFFF;
    --color-error: #FF6262;
    --color-error-foreground: #FFFFFF;
    --color-warning: #FF9D57;
    --color-warning-foreground: #FFFFFF;
    --color-border: #262626;
    --color-input: #262626;
    --color-ring: #737373;
    --color-chart-1: #1447e6;
    --color-chart-2: #00bc7d;
    --color-chart-3: #fd9a00;
    --color-chart-4: #ad46ff;
    --color-chart-5: #ff2056;
    --color-radius: 0.625rem;
    --color-sidebar: #37424c;
    --color-sidebar-foreground: #94a0ad;
    --color-sidebar-primary: #1447e6;
    --color-sidebar-primary-foreground: #fafafa;
    --color-sidebar-accent: #262626;
    --color-sidebar-accent-foreground: #fafafa;
    --color-sidebar-border: #262626;
    --color-sidebar-ring: #525252;


    --color-ink800: #fbfbfc;
    --color-whiteOpacity100: #303841;
}

body {
    color: var(--color-muted-foreground);

    --color-blackOpacity100: rgba(255, 255, 255, 0.05);
}